<nav>
    <ul>
        <li><a href="{{ url_for('users') }}">Users</a></li>
{#        <li><a href="{{ path('about') }}">About</a></li>#}
{#        <li><a href="{{ path('contact') }}">Contact</a></li>#}
    </ul>
</nav>