<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <header>
        {% include 'partials/_navbar.twig' %}
        <h1>slim - app</h1>
    </header>
{% block content %}{% endblock %}
</body>
</html>